:host {
  --bar-width: 1in;
  --panel-width: 25vw;
  --border-color: #888;
  --background: #444;
}

.bar-spacer {
  min-width: var(--bar-width);
  max-width: var(--bar-width);
  height: 100%;
}

.bar-backdrop {
  background: #0008;
}

.bar-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: var(--background);
  color: white;
  z-index: 100;
  box-shadow: 0 0 10px 5px #222;

  .bar-tabs {
    --tab-height: var(--size-10);
    --tab-font-size: var(--size-5);

    min-width: var(--bar-width);
    max-width: var(--bar-width);
    border-right: 1px solid var(--bs-dark);

    .tab {
      --tab-color: white;
      --tab-hover-color: var(--csz-blue);
      --tab-selected-color: rgb(var(--csz-blue), 0.2);

      color: var(--tab-color);
      width: 100%;
      min-height: var(--tab-height);
      max-height: var(--tab-height);
      font-size: var(--tab-font-size);
      margin: 0;
      text-align: center;
      background: transparent;
      padding: 0;
      cursor: pointer;
      border: 0;

      i {
        font-family: bootstrap-icons sans-serif;
        font-size: var(--size-5);
        padding: 0;
        margin: 0;
      }

      img {
        max-width: 70%;
        max-height: 70%;
        object-fit: contain;
        object-position: center center;
      }

      &.green {
        --tab-color: var(--bs-success);
      }

      &:hover:not(.selected) {
        background: var(--tab-hover-color);

        i, img {
          filter: drop-shadow(3px 3px 3px black);
        }
      }

      &.selected {
        background: var(--bs-primary);
      }
    }
  }

  .bar-panel {
    .bar-form {
      min-width: var(--panel-width);
      max-width: var(--panel-width);
    }

    h1 {
      font-size: var(--size-5);
      line-height: 1;
      background: #666;
      text-align: center;
      padding: 10px 10px !important;
      margin: 0;
      box-shadow: 0 5px 5px #222;
    }
  }
}
