<div class="scoreboard view fullscreen" [class.active]="match.activeView === 'scoreboard'">
  <img class="logo" alt="logo" src="/assets/logos/{{match.logo}}">
  <app-score></app-score>
  <app-rounds class="h-size-15"></app-rounds>
</div>

<div class="view fullscreen" [class.active]="match.activeView === 'slate'">
  <img class="slate w-100 h-100 p-5" alt="logo" src="/assets/logos/{{match.logo}}">
</div>

<div class="view fullscreen guess d-flex justify-content-center align-items-center"
     [class.active]="match.activeView === 'guesses'">
  <div class="guess-text">{{match.guesses.values[match.guesses.selected]}}</div>
</div>
