app-score {
  height: 50vh;
  margin-top: 35vh;
}

.logo {
  position: fixed;
  top: 5vh;
  width: 100%;
  height: 60vh;
  object-fit: contain;
  object-position: center;
  z-index: 100;
}

.slate {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  padding: 10vh;
  opacity: 0.3;
  object-fit: contain;
  object-position: center;
}
