<ng-template #team let-$team>
  <div class="team flex-fill d-flex flex-column csz-bg-{{$team.type}}">
    <div class="score d-flex flex-nowrap align-items-center position-relative justify-content-center">
      <button *ngIf="editable" class="score-button btn hover-highlight" (click)="$team.score = $team.score - 1">
        <i class="bi-dash-circle"></i>
      </button>
      <div class="score-value" [class.clickable]="editable" [class.hover-highlight]="editable">
        {{$team.score}}
      </div>
      <button *ngIf="editable" class="score-button btn hover-highlight" (click)="$team.score = $team.score + 1">
        <i class="bi-plus-circle"></i>
      </button>
    </div>
    <div class="team-name">
      {{$team.name}}
    </div>
  </div>
</ng-template>

<ng-container [ngTemplateOutlet]="team" [ngTemplateOutletContext]="{$implicit: match.blueTeam}"></ng-container>
<ng-container [ngTemplateOutlet]="team" [ngTemplateOutletContext]="{$implicit: match.redTeam}"></ng-container>
