$border-width: var(--size-1);
$score-size: var(--size-20);
$team-size: var(--size-10);

:host {
  display: flex;
  position: relative;
}

.team {
  width: 50%;
  box-sizing: content-box;
  border-top: $border-width solid white;
  border-bottom: $border-width solid white;
  border-left: calc($border-width / 2) solid white;
  border-right: calc($border-width / 2) solid white;
  text-align: center;
  overflow: hidden;

  &:first-child {
    border-left: none;
  }

  &:last-child {
    border-right: none;
  }

  .score {
    .score-button {
      padding: 15px;
      color: white;
      font-size: calc($score-size / 4);
    }

    .score-value {
      font-size: $score-size;
      font-weight: bold;
      padding: 0 var(--size-2);
    }

  }

  .team-name {
    font-size: $team-size;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

}
