$border-width: 1vh;
$score-size: 25vh;
$team-size: 10vh;

:host {
  display: flex;
  position: relative;
  padding: $border-width 0;
}

.team {
  width: 50%;
  box-sizing: content-box;
  border-top: $border-width solid white;
  border-bottom: $border-width solid white;
  border-left: calc($border-width / 2) solid white;
  border-right: calc($border-width / 2) solid white;
  text-align: center;

  &:first-child {
    border-left: none;
  }

  &:last-child {
    border-right: none;
  }

  .score {
    .score-button {
      padding: 5vh;
      color: white;
      font-size: calc($score-size / 4);
    }

    .score-value {
      font-size: $score-size;
      font-weight: bold;
      padding: 0 5vh;
    }

  }

  .team-name {
    font-size: $team-size;
  }

}
