.view {
  visibility: hidden !important;

  &.active {
    visibility: visible !important;
  }
}

.fullscreen-button {
  position: fixed;
  top: var(--size-5);
  right: var(--size-5);
  font-size: var(--size-5);
}
