.view {
  transition: opacity 1s, visibility 0s linear 1s;

  &:not(.active) {
    opacity: 0;
    //visibility: hidden !important;
  }
}

.fullscreen-button {
  position: fixed;
  top: 0;
  right: 0;
  font-size: var(--size-5);
}
