app-live-guesses {
  --font-size: calc(var(--size-1) * 12);
  --long-font-size: calc(var(--size-1) * 8);
  --longer-font-size: calc(var(--size-1) * 7);
  --text-shadow-color: #222222cc;
  --guess-bg-light: #444;
  --guess-bg-dark: #222;
  --guess-text-color: white;
  --label-text-color: #aaa;
  --heading-text-color: var(--guess-bg-light);
  --heading-bg-color: white;

  background: radial-gradient(ellipse at center center, var(--guess-bg-light), var(--guess-bg-light) 50%, var(--guess-bg-dark));

  .heading, .guess {
    text-align: center;
    text-shadow: 2px 2px 5px var(--text-shadow-color);
  }

  .heading {
    font-size: var(--font-size);
    color: var(--heading-text-color);
    background: var(--heading-bg-color);
    line-height: 1.5;
  }

  .body {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
    max-height: 100%;

    .part {
      grid-row: 1;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      overflow: hidden;
      column-gap: 2ch;
      max-width: 100%;
      max-height: 100%;
      padding: var(--size-2);

      fitParent {
        font-size: var(--font-size);
      }

      &.guess-style-blue {
        background: var(--csz-blue);
      }

      &.guess-style-red {
        background: var(--csz-red);
      }

      &.guess-style-vs {
        background: linear-gradient(to right, var(--csz-blue), var(--csz-blue) 50%, var(--csz-red) 50%, var(--csz-red));
      }

      //&.long {
      //  row-gap: 1vh;
      //
      //  .guess {
      //    //font-size: var(--long-font-size) !important;
      //    white-space: break-spaces;
      //  }
      //
      //  &.longer {
      //    justify-content: start;
      //    align-items: start;
      //
      //    .guess {
      //      //font-size: var(--longer-font-size) !important;
      //      max-width: 45%;
      //      text-align: start;
      //      text-indent: -1.5ch;
      //      padding-left: 1.5ch;
      //    }
      //
      //    &.longest {
      //      .guess {
      //        max-width: 30%;
      //      }
      //    }
      //  }
      //}

      .guess {
        color: var(--guess-text-color);
        //font-size: var(--font-size);
        font-weight: bold;
        white-space: pre-line;
        //line-height: 1.1;

        em {
          color: var(--label-text-color);
          font-style: normal;
        }
      }
    }
  }
}
