.timer {
  font-size: var(--size-10);
  align-self: center;

  @keyframes fade {
    from {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  &.text-danger {
    animation: 1.5s linear fade infinite;
  }
}
