.timer {
  --timer-size: var(--size-10);
  font-size: var(--timer-size);
  align-self: center;

  @keyframes fade {
    from {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  &.text-danger {
    animation: 1.5s linear fade infinite;
  }

  .timer-ampm {
    font-size: calc(var(--timer-size) / 4);
    vertical-align: text-top;
  }
}
