@use "bootstrap-icons/font/bootstrap-icons";

// Get Google Fonts
//  - Roboto Condensed (Standard text)
//  - Oswald (CSz style text)
//  - Just+Me+Again+Down+Here (Optional team post-it text)
@import url('https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&family=Roboto+Condensed:wght@700&family=Oswald:wght@400;700&display=swap');

$size-steps: 1, 2, 3, 4, 5, 10, 15, 20, 25, 30, 33, 35, 40, 45, 50, 60, 65, 70, 75, 80, 85, 90, 100;

:root {
  --bs-body-line-height: 1; // Bootstrap defaults to 2 which isn't helpful here

  --main-font-family: 'Roboto Light', sans-serif;
  --csz-font-family: 'Oswald', sans-serif;
  --postit-font-family: 'Just Me Again Down Here', fantasy;
}

body {
  background: black;
  color: white;
  font-family: var(--main-font-family);
  padding: 0;
  margin: 0;
  user-select: none;

  --size-base: 1vh;

  @each $step in $size-steps {
    --size-#{$step}: calc(var(--size-base) * #{$step});
  }

  --csz-blue-rgb: 11, 77, 130; // #0b4d82
  --csz-blue: rgb(var(--csz-blue-rgb));
  --csz-red-rgb: 154, 27, 32; // #9a1b20
  --csz-red: rgb(var(--csz-red-rgb));

  input[type=text], input[type=password], textarea {
    user-select: auto;
  }
}

@each $step in $size-steps {
  .w-size-#{$step} {
    min-width: var(--size-#{$step});
    max-width: var(--size-#{$step});
  }
  .h-size-#{$step} {
    min-height: var(--size-#{$step});
    max-height: var(--size-#{$step});
  }
}

.csz-bg-blue {
  background: var(--csz-blue) !important;
}

.csz-bg-red {
  background: var(--csz-red) !important;
}

.csz-text, .csz-bold-text {
  font-family: var(--csz-font-family);
  font-stretch: condensed;
}

.csz-bold-text {
  font-weight: 700;
}

.hover-highlight {
  &:hover {
    background: #fff2 !important;
  }
}

.clickable {
  cursor: pointer;
  user-select: none;
}

.fullscreen {
  position: fixed;
  left: 0;
  min-width: 100vw;
  max-width: 100vw;
  top: 0;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.image-fit {
  object-fit: contain;
  object-position: center;
}

.image-cover {
  object-fit: cover;
  object-position: center;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.d-flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
