<button
  *ngIf="editable"
  class="btn hover-highlight"
  [disabled]="selected(0)"
  (click)="select(round.current - 1)"
>
  <i class="bi-dash-circle"></i>
</button>

<div class="round-list flex-fill overflow-hidden position-relative">
  <div roundNames
       class="round-names position-absolute d-flex flex-nowrap align-items-center"
       [style.left]="roundOffset(round.current)"
  >
    <div
      *ngFor="let $round of round.names; index as $i"
      roundName
      class="round-name csz-bold-text clickable hover-highlight"
      [class.selected]="selected($i)"
      (click)="select($i)"
    >{{$round}}</div>
  </div>
  <div class="fade-left"></div>
  <div class="fade-right"></div>
</div>

<button
  *ngIf="editable"
  class="btn hover-highlight"
  [disabled]="selected(round.count - 1)"
  (click)="select(round.current + 1)"
>
  <i class="bi-plus-circle"></i>
</button>
