:host {
  --height: var(--size-15);
  --font-size: calc(var(--height) * 0.6);
  --button-font-size: calc(var(--height) * 0.5);

  position: relative;
  height: var(--height);

  &.round-edit {
    --height: var(--size-10);

    button {
      background: transparent;
      width: var(--height);
      font-size: var(--button-font-size) !important;
      border: none;
      color: white;
    }
  }
}

.round-list {
  .fade-left, .fade-right {
    position: absolute;
    top: 0;
    height: 100%;
    width: var(--height);
  }

  .fade-left {
    left: 0;
    background: linear-gradient(to left, transparent, black);
  }

  .fade-right {
    right: 0;
    background: linear-gradient(to right, transparent, black);
  }

  .round-names {
    color: gray;
    vertical-align: baseline;

    .round-name {
      font-size: var(--font-size) !important;
      white-space: nowrap;
      padding: 0 1ch;

      &.selected {
        color: white;
        font-weight: 700;
      }

      &:not(.selected) {
        font-size: calc(var(--font-size) * 0.8) !important;
      }
    }
  }
}
